/* Search input animation */
md-toolbar .md-block.ng-hide-remove {
  transition-property: opacity;
  transition-duration: 0.8s;
}
md-toolbar .md-block.ng-hide-add {
  transition-property: opacity;
  transition-duration: 0.2s;
}
md-toolbar .md-block.ng-hide {
  opacity: 0;
}

/* User list animation */
.user-list-item.ng-enter,
.user-list-item.ng-leave,
.user-list-item.ng-move {
  transition: 0.5s linear all;
}

.user-list-item.ng-enter,
.user-list-item.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.user-list-item.ng-enter.ng-enter-active,
.user-list-item.ng-move.ng-move-active {
  height: 85px;
  opacity: 1;
}

.user-list-item.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.user-list-item.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}

/* View transitions */
.view-container {
  position: relative;
}

.view-frame {
  margin-top: 10px;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.view-frame.ng-enter {
  animation: 1s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  animation: 1s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* md-card dismiss animation */
md-card.dismissable-card.ng-hide-add {
  animation: 1s slide-out;
}
@keyframes slide-out {
  from { opacity: 1; }
  to {
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
  }
}
/* md-card posting animation */
md-card.postable-card.ng-enter {
  animation: 1s slide-down;
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* md-card flipping animation */
md-card.flippable-card.flip {
  animation: 1s flip-x;
}
@keyframes flip-x {
  from {
    transform: rotate3d(0, 1, 0, -180deg);
  }
  to {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}
