body {
	padding-left: 1em;
}

.text-info {
    color: #686868;
    padding-left: 0.5em;
}

.optional-field {
    color: #707070;
}
.nav-bar-margin {
    margin-top: 60px;
}

.project-info {
    background-color: #d9edf7;
}

.options {
	list-style: none;
}

.options li {
	clear: both;
	height: 80px;
	margin-bottom: -0.5em;	
	padding-top: 15px;
}
.users {
	list-style: none;
}

.users img {
	height: 64px;
	width: 64px;
}

.users li {
	clear: both;
	height: 80px;
	margin-bottom: -0.5em;	
	padding-top: 15px;
}

.thumb {
	float: left;
	height: 64px;
	margin: -0.5em 1em 1em 0;
	width: 64px;	
}

.user-profile-img {
	clear: both;
	list-style: none;
	margin-top: 0.2em;
	margin-left: -1em;
	padding: 2px;
}

.user-full-name {
	clear: both;
	list-style: none;
	margin-top: 0.2em;
	margin-left: 0.6em;
	padding: 2px;
}

.user-thumbs {
	clear: both;
	list-style: none;
	margin-top: 0.2em;
	margin-left: -1em;
}

.user-thumbs img {
	height: 64px;
	padding: 2px;
	width: 64px;	
}

.user-thumbs li {
	background-color: white;
	border: 1px solid #428bca;
	cursor: pointer;
	display: inline-block;
	margin: 0.1em;
}

.about {
	clear: both;
	list-style: none;
	margin-left: 1em;
	padding: 5px 5px 5px 5px;
}

.about dt {
	font-weight: bold;
	text-transform: uppercase;
}

.about li {
	display: inline-block;
	vertical-align: top;
	width: 200px;
}

.about li span {
	color: #428bca;
	font-size: 1.2em;
	font-weight: bold;	
}

.hobbies {
	clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
}

.hobbies li {
	display: inline-block;
	vertical-align: top;
	width: 200px;
}