<md-card id="user-post-card" class="dismissable-card" ng-repeat="(key, post) in $ctrl.posts | orderBy:'-'" ng-hide="$ctrl.posts[key].deleted">
  <md-card-header>
    <md-card-avatar>
      <img class="md-user-avatar" ng-src="{{post.posterProfileImage.imgUri || 'resources/img/users/default-user-img.png'}}"
          alt="{{post.poster.name}} "/>
    </md-card-avatar>
    <md-card-header-text>
          <span class="md-title"><a ng-href="user/uid/{{post.poster.id}}">{{post.poster.name}} {{post.poster.surname}}</a> on {{post.formattedCreationDate}}</span>
          <span class="md-subhead" ng-show="post.lastEditDate[0] != 1970">Edited {{post.formattedLastEditDate}}</span>
    </md-card-header-text>

    <md-menu md-position-mode="target-right bottom" layout-align="end">
      <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
        <md-icon md-font-set="material-icons"> arrow_drop_down </md-icon>
      </md-button>

      <md-menu-content width="3">

        <md-menu-item>
          <md-button>
            <md-icon md-font-set="material-icons"> edit </md-icon>Edit
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="$ctrl.deletePost(post.id, key)">
            <md-icon md-font-set="material-icons"> delete </md-icon>Delete
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>

  </md-card-header>
  <md-card-title ng-show="post.title">
    <md-card-title-text>
      <span class="md-headline">{{post.title}}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p>
      <md-subheader>{{post.content}}</md-subheader>
    </p>
    <md-button class="md-disabled" ng-show="post.comments.length <= 0">No comments</md-button>
    <md-button class="md-primary" ng-show="post.comments.length == 1">Load 1 comment</md-button>
    <md-button class="md-primary" ng-show="post.comments.length > 1">Load {{post.comments.length}} comments</md-button>
  </md-card-content>
  <md-card-actions>
  </md-card-actions>
</md-card>
