<md-card layout-padding ng-show="$ctrl.isLoggedIn">
  <form name="newPostForm" ng-submit="$ctrl.submitPost(newPostForm.$valid)" novalidate>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" ng-hide="$ctrl.isProfileOwner">Write something to {{$ctrl.user.name}}...</span>
        <span class="md-headline" ng-show="$ctrl.isProfileOwner">Write something on your profile...</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-input-container class="md-block" layout="row">
          <label>Title</label>
          <input name="title" type="text" ng-model="title" ng-maxlength="80" md-maxlength="80">
          <div ng-messages="newPostForm.title.$error" ng-show="newPostForm.title.$dirty">
            <div ng-message="maxlength">The post title can not exceed 80 characters!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" layout="row">
          <label>Post content</label>
          <textarea name="content" ng-model="content" ng-maxlength="800" md-maxlength="800" required>
          </textarea>
          <div ng-messages="newPostForm.content.$error" ng-show="newPostForm.content.$dirty">
            <div ng-message="required">Can't post empty content!</div>
            <div ng-message="maxlength">The post content can not exceed 1000 characters!</div>
          </div>
        </md-input-container>
    </md-card-content>
    <md-card-actions>
      <section layout="row" layout-align="center">
        <md-button class="md-primary md-raised" type="submit" ng-disabled="newPostForm.$invalid">Post</md-button>
      </section>
    </md-card-actions>
  </form>
</md-card>

<h2 class="md-title inset" ng-show="$ctrl.postCounter === 0">{{$ctrl.user.name}} has no posts to show.</h2>

<md-card id="user-post-card" class="dismissable-card postable-card" layout-padding ng-repeat="(key, post) in $ctrl.posts | orderBy:'-'" ng-hide="$ctrl.isPostDeleted[key]">

  <md-card-header>
    <md-card-avatar>
      <img class="md-user-avatar" ng-src="{{post.posterProfileImage.imgUri || 'resources/img/users/default-user-img.png'}}"
          alt="{{post.poster.name}} "/>
    </md-card-avatar>

    <md-card-header-text>
          <span class="md-title"><a ng-href="user/uid/{{post.poster.id}}">
            {{post.poster.name}} {{post.poster.surname}}</a> on {{post.formattedCreationDate}}
          </span>
          <span class="md-subhead" ng-show="post.lastEditDate[0] != 1970"> <!-- 1970 is the default value of js new Date() when the input is null-->
            Edited {{post.formattedLastEditDate}}
          </span>
    </md-card-header-text>

    <md-menu md-position-mode="target-right bottom" layout-align="end" ng-show="$ctrl.isProfileOwner || post.owner">
      <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
        <md-icon md-font-set="material-icons"> arrow_drop_down </md-icon>
      </md-button>

      <md-menu-content width="3">

        <md-menu-item ng-show="post.owner">
          <md-button>
            <md-icon md-font-set="material-icons"> edit </md-icon>Edit
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-click="$ctrl.deletePost(post.id, key)">
            <md-icon md-font-set="material-icons"> delete </md-icon>Delete
          </md-button>
        </md-menu-item>

      </md-menu-content>
    </md-menu>

  </md-card-header>

  <md-card-title ng-show="post.title">
    <md-card-title-text>
      <span class="md-headline">{{post.title}}</span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>
    <p>
      <md-subheader>{{post.content}}</md-subheader>
    </p>
  </md-card-content>

  <md-card-actions>
    <md-button class="md-disabled" ng-show="(post.comments.length <= 0) && !$ctrl.showComments[key]">No comments</md-button>
    <md-button class="md-primary" ng-show="(post.comments.length == 1) && !$ctrl.showComments[key]" ng-click="$ctrl.toggleComments(key)">Load 1 comment</md-button>
    <md-button class="md-primary" ng-show="(post.comments.length > 1) && !$ctrl.showComments[key]" ng-click="$ctrl.toggleComments(key)">Load {{post.comments.length}} comments</md-button>
    <md-button class="md-primary" ng-show="$ctrl.showComments[key]" ng-click="$ctrl.toggleComments(key)">Hide comments</md-button>
  </md-card-actions>

  <md-card-content ng-show="$ctrl.showComments[key]">
    <my-post-comment ng-repeat="postComment in post.comments" comment="postComment"></my-post-comment>
  </md-card-content>
</md-card>
