<md-toolbar id="main-toolbar" md-whiteframe="2">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="$ctrl.toggleSidenav()" hide-gt-md>
      <md-icon md-font-set="material-icons" class="md-primary md-hue-2"> menu </md-icon>
    </md-button>

    <a ng-href="/"><img ng-src="resources/img/iri-logo.png" height="40" width="35" alt="IRI logo" /></a>&nbsp;
    <h2 class="md-flex"><a ng-href="/">IRI Training App</a></h2>

    <span flex></span>

    <!-- Search button -->
    <md-button class="md-icon-button" ng-click="$ctrl.toggleSearch()">
      <md-icon md-font-set="material-icons" class="md-primary md-hue-2"> search </md-icon>
    </md-button>
    <md-input-container class="md-block" ng-show="$ctrl.showSearch" md-no-float>
      <input ng-model="text" type="text" id="search" placeholder="Search..." ng-blur="$ctrl.toggleSearch()" focus-on="showSearch">
    </md-input-container>

    <!-- More button -->
    <md-menu md-position-mode="target-right bottom">

      <md-button class="md-icon-button" ng-click="$mdMenu.open($event)">
        <md-icon md-font-set="material-icons" class="md-primary md-hue-2"> more_vert </md-icon>
      </md-button>

      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-href="/about">
            <md-icon md-font-set="material-icons"> info_outline </md-icon>About
          </md-button>
        </md-menu-item>

        <md-menu-item>
          <md-button ng-href="{{$ctrl.githubUrl}}" target="_blank">
            <md-icon md-font-set="material-icons"> open_in_new </md-icon>Github
          </md-button>
        </md-menu-item>
      </md-menu-content>

    </md-menu>

  </div>
</md-toolbar>
