<md-toolbar layout="row" md-whiteframe="2">
  <div class="md-toolbar-tools">

    <h2 class="md-flex">IRI Training App</h2>

    <span flex></span>

    <md-button class="md-icon-button" ng-click="$ctrl.toggleSearch()">
      <md-icon md-font-set="material-icons" class="md-primary md-hue-2"> search </md-icon>
    </md-button>
    <md-input-container class="md-block" ng-show="$ctrl.showSearch" md-no-float>
      <input ng-model="text" type="text" id="search" placeholder="Search..." ng-blur="$ctrl.toggleSearch()" focus-on="showSearch">
    </md-input-container>

    <md-menu md-position-mode="target-left bottom"  md-offset="-22 6">
      <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <md-icon md-font-set="material-icons" class="md-primary md-hue-2"> more_vert </md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button class="missing-url">
            <md-icon md-font-set="material-icons"> info_outline </md-icon>About
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-href="{{$ctrl.githubUrl}}" target="_blank">
            <md-icon md-font-set="material-icons"> open_in_new </md-icon>Github
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
