<!DOCTYPE html>
<html lang="en-US">  
 <body ng-app="myApp">
 <div ng-controller="CreateController">
	<form name="personForm" >
	
	
	<div class="form-group" >
        <label class=blue_font>USERNAME</label>
        <input class=form-control type="text" id="USERNAME" ng-model="personForm.username" placeholder="USERNAME" autocomplete="off">
    </div>
    
    <div class="form-group" >
        <label class=blue_font>USERID</label>
        <input class=form-control type="text" id="Email" ng-model="personForm.userId" placeholder="USERID" autocomplete="off">
    </div>
    
    <div class="form-group" >
        <label class=blue_font>NAME</label>
        <input class=form-control type="text" id="NAME" ng-model="personForm.name" placeholder="NAME" autocomplete="off">
    </div>
    
    <div class="form-group" >
        <label class=blue_font>SURNAME</label>
        <input class=form-control type="text" id="SURNAME" ng-model="personForm.surname" placeholder="SURNAME" autocomplete="off">
    </div>
	
	<div class="form-group" >
        <label class=blue_font>AGE</label>
        <input class=form-control type="text" id="AGE" ng-model="personForm.age" placeholder="AGE" autocomplete="off">
    </div>
	
	<div class="form-group" >
        <label class=blue_font>DATE OF BIRTH</label>
        <input class=form-control type="text" id="dob" ng-model="personForm.dob" placeholder="dob" autocomplete="off">
    </div>
	
	<div class="form-group" >
        <label class=blue_font>PHONE</label>
        <input class=form-control type="text" id="phoneNo" ng-model="personForm.phoneNo" placeholder="phoneNo" autocomplete="off">
    </div>
	
	<div class="form-group" >
        <label class=blue_font>ADDRESS</label>
        <input class=form-control type="text" id="address" ng-model="personForm.address" placeholder="address" autocomplete="off">
    </div>
	
	<div class="form-group" >
        <label class=blue_font>PASSWORD</label>
        <input class=form-control type="text" id="password" ng-model="personForm.password" placeholder="password" autocomplete="off">
    </div>

 

    <div >
      <button class="btn btn_blue" type="button" data-ng-click="create()" id="Create" >Create</button>
    </div>
  </div>
</div>
	
  
	      
	</form>
	</div>


 </body>
</html>  