
<form ng-submit="send_form()" >

USERNAME:<input class=form-control type="text" id="USERNAME" ng-model="username" placeholder="USERNAME" autocomplete="off"/><br />

USERID:<input class=form-control type="text" id="Email" ng-model="userId" placeholder="USERID" autocomplete="off"/><br />

NAME:<input class=form-control type="text" id="NAME" ng-model="name" placeholder="NAME" autocomplete="off"/><br />

SURNAME:<input class=form-control type="text" id="SURNAME" ng-model="surname" placeholder="SURNAME" autocomplete="off"/><br />

AGE:<input class=form-control type="text" id="AGE" ng-model="age" placeholder="AGE" autocomplete="off"/><br />

DATE OF BIRTH:<input class=form-control type="text" id="dob" ng-model="dob" placeholder="dob" autocomplete="off"/><br />

PHONE:<input class=form-control type="text" id="phoneNo" ng-model="phoneNo" placeholder="phoneNo" autocomplete="off"/><br />

ADDRESS:<input class=form-control type="text" id="address" ng-model="address" placeholder="address" autocomplete="off"/><br />

PASSWORD: <input class=form-control type="text" id="password" ng-model="password" placeholder="password" autocomplete="off"/><br />

<p><input type='submit' name='Submit' value='Submit' /></p>
</form>
