<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-1">
		
			<div ng-if="$ctrl.profileImageUrl">
				<img class="user-profile-img" ng-src="{{$ctrl.profileImageUrl}}" onerror="this.src='resources/img/users/default-user-img.png'" alt="{{$ctrl.user.name}} "/>
			</div>
			<div ng-if="!$ctrl.profileImageUrl">
				<img class="user-profile-img" ng-src="resources/img/users/default-user-img.png" alt="{{$ctrl.user.name}}" />
			</div>
			
		</div>

		<div class="col-md-4">
			
			<h1 class="user-full-name">{{$ctrl.user.name + " " + $ctrl.user.surname}}</h1>	
			
			<ul class="user-thumbs" ng-if="$ctrl.userImages[0]">
				<li ng-repeat="img in $ctrl.userImages">
					<img ng-src="{{img.imgUri}}" onerror="this.src='resources/img/users/default-user-img.png'" alt="{{$ctrl.user.name}}" ng-click="$ctrl.setProfileImageUri(img.imgUri)" />
				</li>
			</ul>
		
		</div>
		
	<div>

	<div class="row">
	
		<ul class="about">
			<li>
				<span>General info</span>
				<dl>
					<div ng-if="$ctrl.user.age">
						<dt>Age</dt>
						<dd>{{$ctrl.user.age}}</dd>
					</div>
				</dl>
			</li>
			<li>
				<span>Contact info</span>
				<dl>
					<div ng-if="$ctrl.user.phoneNo">
						<dt>Phone Number</dt>
						<dd>{{$ctrl.user.phoneNo}}</dd>
					</div>
					<div ng-if="$ctrl.user.address">
						<dt>Address</dt>
						<dd>{{$ctrl.user.address}}</dd>
					</div>
				</dl>
			</li>
			<li>
				<span>Hobbies</span>
				<ul class="hobbies" ng-if="$ctrl.user.hobbies[0]">
					<li ng-repeat="hobby in $ctrl.user.hobbies">{{hobby}}</li>
				</ul>
			</li>
		</ul>
		
	</div>
</div>