<my-toolbar></my-toolbar>
<section layout="row" flex>
  <my-sidenav></my-sidenav>
  <md-content class="md-padding" layout-fill>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Statistics">
        <md-content class="md-padding">
          <div layout="row">
            <my-user-statistics flex></my-user-statistics>
          </div>
          <div layout="row">
            <my-login-prompt flex></my-login-prompt>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Tables">
        <md-content class="md-padding">
          <div layout="row">
            <my-tables flex></my-tables>
          </div>
          <div layout="row">
            <my-login-prompt flex></my-login-prompt>
          </div>
        </md-content>
      </md-tab>
      <md-tab label="Maps">
        <md-content class="md-padding">
          <div layout="row">
            <my-user-maps flex></my-user-maps>
          </div>
          <div layout="row">
            <my-login-prompt flex></my-login-prompt>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</section>
