<my-toolbar></my-toolbar>
<section layout="row" flex>
  <my-sidenav></my-sidenav>
  <md-content class="md-padding" layout-fill>
    <div layout="row">

      <my-user-profile flex></my-user-profile>
    </div>
    <div layout="row">

      <my-login-prompt flex></my-login-prompt>
    </div>
    <div layout="row" layout-sm="column" layout-xs="column">
      <div layout="column" layout-fill>
        <my-profile-header flex></my-profile-header>
        <my-profile-timeline flex></my-profile-timeline>
      </div>
      <div layout="column" layout-fill>
        <my-profile-details flex></my-profile-details>
        <my-profile-hobbies flex></my-profile-hobbies>
      </div>
    </div>
  </md-content>
</section>
