<my-toolbar></my-toolbar>
<section layout="row" flex>
	<my-sidenav></my-sidenav>
	<md-content class="md-padding" layout-fill>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="Account Settings">
				<md-content class="md-padding">
					<div layout="row">
						<edit-my-account flex></edit-my-account>
					</div>
					<div layout="row">
						<my-login-prompt flex></my-login-prompt>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Edit Hobbies">
				<md-content class="md-padding">
					<div layout="row">
						<add-event flex></add-event>
					</div>
					<div layout="row">
						<edit-my-hobbies flex></edit-my-hobbies>
					</div>
					<div layout="row">
						<my-login-prompt flex></my-login-prompt>
					</div>
				</md-content>
			</md-tab>
			<md-tab label="Edit Metrics">
				<md-content class="md-padding">
					<div layout="row">
						<edit-metrics flex></edit-metrics>
					</div>
					<div layout="row">
						<my-login-prompt flex></my-login-prompt>
					</div>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
</section>