<div class="row">
	<div class="col-md-2">
		<h4>Filter by ID, name, address or phone number.</h4>
		<input type="text" onfocus="if (this.placeholder=='User search...') this.placeholder = ''" placeholder="User search..." name="user_search" ng-model="$ctrl.query">
	</div>
	<div class="col-md-10">
		<h4>Users:</h4>
		<ul class="users">
			<li ng-repeat="user in $ctrl.users | filter:$ctrl.query">
				{{user.id}}: <strong>{{user.surname}}</strong>, <em>{{user.name}}</em>
			</li>
		</ul>
	</div>
</div>