<div class="row">
	<div class="col-md-2">
		<p>
			<h4>Filter by ID, name, address or phone number:</h4>
			<input type="text" onfocus="if (this.placeholder=='User search...') this.placeholder = ''" placeholder="User search..." name="user_search" ng-model="$ctrl.query">
		</p>
		<p>
			<h4>Sort by:</h4>
			<select ng-model="$ctrl.orderProp">
			  <option value="id">User ID</option>
			  <option value="surname">Alphabetical</option>
			  <option value="age">Age</option>
			</select>
		</p>
	</div>
	<div class="col-md-4">
		<h4>Users:</h4>
		<ul class="users">
			<li ng-repeat="user in $ctrl.users | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
			    <a href="user/{{user.id}}" class="thumb">
					<div ng-if="user.imageUrl">
						<img ng-src="{{user.imageUrl}}" onerror="this.src='resources/img/users/default-user-img.png'" alt="{{user.name}}" height="64" width="64" />
					</div>
					<div ng-if="!user.imageUrl">
						<img ng-src="resources/img/users/default-user-img.png" alt="{{user.name}}" height="64" width="64" />
					</div>
				</a>
				<a href="user/{{user.id}}"><strong>{{user.surname}}</strong>, {{user.name}}</a>
				<p>
					<div ng-if="user.age">
						<em>{{user.age}} years old</em>
					</div>
					<div ng-if="!user.age">
						Unknown age
					</div>
				</p>
			</li>
		</ul>
	</div>
</div>