<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<p>
				<h4>Filter by ID, name or age:</h4>
				<input type="text" onfocus="if (this.placeholder=='User search...') this.placeholder = ''" placeholder="User search..." name="user_search" ng-model="$ctrl.query">
			</p>
			<p>
				<h4>Sort by:</h4>
				<select ng-model="$ctrl.orderProp">
				  <option value="userId">User ID</option>
				  <option value="surname">Alphabetical</option>
				  <option value="age">Age</option>
				</select>
			</p>
		</div>
		<div class="col-md-4">
			<h4>Users:</h4>
			<ul class="users">
				<li ng-repeat="user in $ctrl.users | filter:$ctrl.query | orderBy:$ctrl.orderProp | limitTo: $ctrl.limit" class="thumbnail user-list-item">
					<a href="user/{{user.userId}}" class="thumb">
						<div ng-if="user.profileImageUrl">
							<img ng-src="{{user.profileImageUrl}}" onerror="this.src='resources/img/users/default-user-img.png'" alt="{{user.name}}" height="64" width="64" />
						</div>
						<div ng-if="!user.profileImageUrl">
							<img ng-src="resources/img/users/default-user-img.png" alt="{{user.name}}" height="64" width="64" />
						</div>
					</a>
					<a href="user/{{user.userId}}"><strong>{{user.surname}}</strong>, {{user.name}}</a>
					<p>
						<div ng-if="user.age">
							<em>{{user.age}} years old</em>
						</div>
						<div ng-if="!user.age">
							Unknown age
						</div>
					</p>
				</li>
				<li>
					<button ng-click="$ctrl.getLowerLimit()" ng-if="$ctrl.limit > $ctrl.startingLimit">
						Less...
					</button>
					<button ng-click="$ctrl.getHigherLimit()" ng-if="$ctrl.limit < $ctrl.users.length">
						More...
					</button>
				</li>
			</ul>
		</div>
	</div>
</div>