<md-card>
  <md-card-title>
    <md-card-title-media>
      <div class="md-media-lg">
        <img class="user-profile-img" ng-src="{{$ctrl.profileImageUrl || 'resources/img/users/default-user-img.png'}}"
             alt="{{$ctrl.user.name}} "/>
      </div>
    </md-card-title-media>
    <md-card-title-text class="card-user-info">
      <span class="md-headline">{{$ctrl.user.name}}&nbsp;{{$ctrl.user.surname}}</span>
      <span class="md-subhead">@{{$ctrl.user.username}}</span>
      <md-card-actions layout="row" layout-align="start" class="image-selector">
        <img ng-repeat="img in $ctrl.userImages" ng-src="{{img.imgUri}}" alt="{{$ctrl.user.name}}"
             ng-click="$ctrl.setProfileImageUri(img.imgUri)" class="user-images"/>
      </md-card-actions>
    </md-card-title-text>
  </md-card-title>
</md-card>