<div id="registration-container" layout="column">
	<h2 class="md-title inset">Edit your account settings</h2>
	<md-card>
		<form name="registrationForm" ng-submit="$ctrl.submitForm(registrationForm.$valid)" novalidate>
			<br>

			<div layout="row">
				<md-input-container class="md-block">
					<md-icon md-font-set="material-icons"> face </md-icon>
					<input ng-model="$ctrl.user.name" name="name" type="text"
						   ng-required="true" md-maxlength="64">
					<div ng-messages="registrationForm.name.$error" role="alert">
						<div ng-message="required">The name is required.</div>
						<div ng-message="md-maxlength">The name currently can't exceed 64 characters.</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block">
					<md-icon md-font-set="material-icons"> group </md-icon>
					<input ng-model="$ctrl.user.surname" name="surname" type="text"
						   ng-required="true" md-maxlength="64">
				</md-input-container>

				<md-input-container class="md-block">
					<md-datepicker md-current-view="year" ng-model="$ctrl.user.dateOfBirth" name="dateOfBirth"
								   ng-required="true" md-min-date="$ctrl.minDate"
								   md-max-date="$ctrl.maxDate"></md-datepicker>
				</md-input-container>
			</div>
			<br>
			<div layout="row">
				<md-input-container class="md-block">
					<md-icon md-font-set="material-icons"> email </md-icon>
					<input ng-model="$ctrl.userAccount.email" name="email" type="email"  ng-required="true"
						   md-minlength="8" md-maxlength="64" ng-pattern="/^.+@.+\..+$/" email-unique
						   ng-model-options="{updateOn: 'blur'}" >
				</md-input-container>

				<md-input-container class="md-block">
					<md-icon md-font-set="material-icons"> person </md-icon>
					<input ng-model="$ctrl.userAccount.username" name="username" type="text"
						   ng-required="true" md-minlength="3" md-maxlength="24" ng-pattern="/^\w+$/"
						   readonly>
				</md-input-container>

				<md-input-container class="md-block">
					<md-icon md-font-set="material-icons"> home </md-icon>
					<input ng-model="$ctrl.user.address" name="address" type="text"
						    md-maxlength="64">
				</md-input-container>
			</div>
			<br>
			<div layout="row">
				<md-input-container class="md-block">
					<md-icon md-font-set="material-icons"> phone </md-icon>
					<input ng-model="$ctrl.user.phoneNo" name="phoneNo" type="text" ng-pattern="/^\d+$/"
						    md-maxlength="10">
					<div class="input-hint">Only numbers are allowed</div>
				</md-input-container>

				<md-input-container class="md-block">
				<md-icon md-font-set="material-icons"> vpn_key </md-icon>
				<input ng-model="$ctrl.userAccount.password" name="password" type="password"
					   ng-required="true"  md-maxlength="64" md-minlength="8" password-strength>
					<div class="input-hint">Include mixed-case alphanumericals & symbols.</div>
					<div class="input-hint">Minimum length: 8 characters.</div>
				</md-input-container>
			</div>
			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
				<md-button class="md-raised md-primary" type="submit"  ng-disabled="registrationForm.$invalid">SAVE</md-button>
			</section>
			<br>
		</form>
	</md-card>
</div>
