<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<context:annotation-config/>
	<context:component-scan base-package="com.iri.training"/>

	<bean id="dataSource"
		  class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driveClassName" value="org.sqlite.JDBC" />
		<property name="url" value="jdbc:sqlite:db\TrainingApp.db" />
	</bean>
</beans>