<div class="col-md-3">
	<h4>Pages:</h4>
	<ul class="pages">
		<li ng-repeat="option in $ctrl.options" ng-if="!option.isAPI">
			<div ng-if="option.param">
				<font size="3.2em">*/home/<strong>{{option.dir[0]}}</strong>/<em>{{option.param}}</em></font>
				<font color="#686868"><br>{{option.info}}</font>
			</div>
			<div ng-if="!option.param">
				<font size="3.2em"><a href="{{option.dir[0]}}">*/home/<strong>{{option.dir[0]}}</strong></a></font>
				<font color="#686868"><br>{{option.info}}</font>
			</div>
		</li>
	</ul>
</div>
<div class="col-md-3">		
	<h4>REST API:</h4>
	<ul class="apis">			
		<li ng-repeat="option in $ctrl.options" ng-if="option.isAPI">
			<font size="3.2em">*/home/api/<strong>{{option.dir[0]}}</strong>/<em>{{option.param}}</em><strong>{{option.dir[1]}}</strong></font>
			<font color="#686868"><br>{{option.info}}</font>
		</li>
	</ul>
</div>
