<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<h4>Pages:</h4>
			<ul class="pages">
				<li ng-repeat="page in $ctrl.pageOptions">
					<div ng-if="page.param">
						*/spring/<strong>{{page.dir}}</strong>/<em>{{page.param}}</em>
						<br>{{page.info}}
					</div>
					<div ng-if="!page.param">
						<a href="{{page.dir}}">*/spring/<strong>{{page.dir}}</strong></a>
						<br>{{page.info}}
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-3">		
			<h4>REST API:</h4>
			<ul class="apis">
				<li ng-repeat="api in $ctrl.restOptions">
					*/spring/api/<strong>{{api.dir}}</strong>/<em>{{api.param}}</em><strong>{{api.dir2}}</strong>
					<br>{{api.info}}
				</li>
			</ul>
		</div>
	</div>
</div>