<md-card>
	<md-card-title>
		<md-card-title-text>
			<div>
<input type="text" id="address" size="30"><br>
<input type="text" id="lat" size="10">
<input type="text" id="lng" size="10"></div>
<div id="map_canvas"></div>
<br>
			<md-content class="md-no-momentum">
				<md-input-container class="md-icon-float md-block">
					<label>Nationality</label>
					<md-icon md-font-set="material-icons">person_pin_circle</md-icon>
					<input ng-model="user.name" type="text">
				</md-input-container>
			</md-content>

			<md-input-container class="md-block" flex-gt-sm="">
				<span>Nationality:</span>
				<select ng-model="country" ng-options="country.name for country in Metrics track by country.code">
					<option value="">-- Select a Country --</option>
				</select>
			</md-input-container>

		</md-card-title-text>
	</md-card-title>
</md-card>