<input type="radio" name="bedStatus" id="allot" checked="checked" value="allot">Charts</input>
<input type="radio" name="bedStatus" id="transfer" value="transfer">Grid</input>

<div id="1">
  <select ng-init="selectedChart.chart = chartOptions[0]; updateChart();" ng-model="selectedChart.chart" ng-change="updateChart();" ng-options="c.name for c in chartOptions track by c.id"></select>
  <div id="piechart_3d" style="width: 900px; height: 400px; "data="dataAge"></div>
  <div id="top_x_div" style="width: 900px; height: 400px;"></div>
</div>

<div id="2" style="display:none;">
  <table width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Height </th>
        <th>Weight</th>
        <th>Nationality</th>
        <th>Place Of Birth</th>
        <th>Education</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="data in $ctrl.metrics">
        <th>{{$ctrl.users[data.userId].name}}</th>
        <th>{{$ctrl.users[data.userId].surname}}</th>
        <th>{{$ctrl.users[data.userId].age}}</th>
        <th>{{data.height}}</th>
        <th>{{data.weight}}</th>
        <th>{{data.nationality}}</th>
        <th>{{data.place_of_birth}}</th>
        <th>{{data.education}}</th>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Height </th>
        <th>Weight</th>
        <th>Nationality</th>
        <th>Place Of Birth</th>
        <th>Education</th>
      </tr>
    </tfoot>
  </table>
</div>
