<div layout="column" flex>
  <md-card>
    <md-card-content layout-gt-sm="row">

      <md-input-container class="md-block" flex-gt-sm>
        <label>
          <md-icon md-font-set="material-icons"> search </md-icon>
          Find a specific user...
        </label>

        <input ng-model="$ctrl.query">
      </md-input-container>

      <span ng-style="{'width':'4%'}"></span>

      <md-radio-group ng-style="{'margin-top':'1%'}" ng-model="$ctrl.orderProp" flex-gt-sm>
        <strong>Sort by:</strong><br>

        <md-radio-button value="surname" class="md-primary my-radio-btn">
          <span class="radio-btn-label">Alphabetical</span>
        </md-radio-button>

        <md-radio-button value="age" class="md-primary my-radio-btn">
          <span class="radio-btn-label">Age</span>
        </md-radio-button>

        <md-radio-button value="userId" class="md-primary my-radio-btn">
          <span class="radio-btn-label">User ID</span>
        </md-radio-button>
      </md-radio-group>

    </md-card-content>
  </md-card>

  <md-card>
    <md-list>
      <md-subheader>Users matching your criteria:</md-subheader><br>

      <md-list-item ng-repeat="user in $ctrl.users | filter:$ctrl.query | orderBy:$ctrl.orderProp | limitTo: $ctrl.limit"
                    ng-href="user/uid/{{user.userId}}">
        <img ng-src="{{user.profileImage.imgUri}}" onerror="this.src='$ctrl.self.defaultImgUri'"
             alt="{{user.name}}" height="32" width="32" />
        <strong>{{user.surname}}</strong>, {{user.name}}&nbsp;<p><em> {{user.age}} years old</em></p>
        <md-divider></md-divider>
      </md-list-item>

      <md-list-item ng-hide="($ctrl.users | filter: $ctrl.query).length < 4">
        <button ng-click="$ctrl.getLowerLimit()" ng-if="$ctrl.limit > $ctrl.startingLimit">
          Less...
        </button>
        <button ng-click="$ctrl.getHigherLimit()" ng-if="$ctrl.limit < $ctrl.users.length">
          More...
        </button>
      </md-list-item>

    </md-list>
  </md-card>
</div>
