<md-card class="md-padding" md-colors="{background: 'blue-grey'}">
  <md-card-content>

    <div layout="row">
      Sort by:
    </div>

    <md-radio-group class="md-accent" ng-style="{'margin': '3px 0 5px 0'}" ng-model="$ctrl.orderProp" layout="row" layout-fill>

      <md-radio-button value="surname">Alphabetical</md-radio-button>

      <md-radio-button value="age"">Age</md-radio-button>

      <md-radio-button value="id">User ID</md-radio-button>
    </md-radio-group>

    <br>

    <md-input-container class="md-accent" layout="row" layout-fill>
      <label class="grey-parent-card">
        <md-icon class="md-accent" md-font-set="material-icons"> search </md-icon>
        Find a specific user...
      </label>

      <input ng-model="$ctrl.query">
    </md-input-container>

  </md-card-content>
</md-card>

<md-card>
  <md-list>

    <md-subheader>Users matching your criteria:</md-subheader>

    <md-list-item ng-repeat="user in $ctrl.users | filter:$ctrl.query | orderBy:$ctrl.orderProp | limitTo: $ctrl.limit"
                  ng-href="user/uid/{{user.id}}">
      <img ng-src="{{user.profileImage.imgUri}}" onerror="this.src='$ctrl.defaultImgUri'"
           alt="{{user.name}}" class="md-avatar"/>
      <p><strong>{{user.name}}&nbsp;{{user.surname}}</strong>&nbsp;&nbsp;<span class="userlist-age">{{user.age}} years old</span></p>
      <md-icon md-font-set="material-icons"> mail </md-icon>
      <md-icon md-font-set="material-icons" ng-style="{'margin-left': '1%'}"> add </md-icon>
      <md-divider></md-divider>
    </md-list-item>

    <md-list-item ng-hide="($ctrl.users | filter: $ctrl.query).length <= $ctrl.startingLimit" ng-cloak>
      <md-button class="md-primary" ng-click="$ctrl.getLowerLimit()" ng-disabled="$ctrl.limit <= $ctrl.startingLimit">
        Less...
      </md-button>
      <md-button class="md-primary" ng-click="$ctrl.getHigherLimit()" ng-disabled="$ctrl.limit >= $ctrl.users.length">
        More...
      </md-button>
    </md-list-item>

  </md-list>
</md-card>
